# Ignorovat PDF soubory
*.pdf

# Ignorovat Excel soubory (XLS, XLSX)
*.xls
*.xlsx

# Ignorovat CSV soubory
*.csv

# Ignorovat EXE soubory
*.exe

# Ignorovat velké soubory (např. videa, archivy)
*.mp4
*.zip
*.tar.gz
*.iso


# Ignoruj všechny PNG soubory
*.png
# Ale neignoruj PNG soubory ve složce images/favicon
!images/favicon/
!images/favicon/*.png
# Rekurzivní ignorování PNG souborů ve složce images/favicon
!images/favicon/**/*.png


# Ignorovat moduly NODE.JS
node_modules/
.idea/
*.iml
*.xml
*.pem

*.bat
!merge-dev-into-main-and-backup.bat
!restore-main-from-backup.bat
!server_python.bat
debug.txt
index - kopie.html


