# Ignorovat PDF soubory
*.pdf

# Ignorovat Excel soubory (XLS, XLSX)
*.xls
*.xlsx

# Ignorovat CSV soubory
*.csv

# Ignorovat EXE soubory
*.exe

# Ignorovat velké soubory (např. videa, archivy)
*.mp4
*.zip
*.tar.gz
*.iso


# Ignoruj všechny PNG soubory
*.png

# Ale neignoruj PNG soubory ve složce images/favicon
!images/favicon/
!images/favicon/*.png
# Rekurzivní ignorování PNG souborů ve složce images/favicon
!images/favicon/**/*.png


# Ignorovat moduly NODE.JS
node_modules/
.idea/
node_modules/*
.idea/*
.idea/misc.xml
.idea/thatmatheww.github.io.iml
.idea/*.iml
.idea/*.xml
/.idea/misc.xml
/.idea/*.iml
/.idea/*.xml
*.iml
*.xml
*.pem

debug.txt
startServer_Ngorok.bat
startServer_NPM-NODE.JS.bat
startServer_NPX.bat
startServer_PYTHON.bat
index - kopie.html


